@import "tailwindcss";
@font-face {
  font-family: 'Gilroy';
  src: url("../src/assets/fonts/Gilroy-Regular.ttf");
  
  font-style: normal;
}
/* @font-face {
  font-family: 'Gilroy';
  src: url("../src/assets/fonts/Gilroy-SemiBold.ttf");
  
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url("../src/assets/fonts/Gilroy-Bold.ttf");
 font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url("../src/assets/fonts/Gilroy-Medium.ttf");
  
  font-style: normal;
} */
@theme{
  --font-gilroy: 'Gilroy-Regular', 'sans-serif';
  /* --font-gilroy-semibold: 'Gilroy-SemiBold', 'sans-serif';
  --font-gilroy-bold: 'Gilroy-Bold', 'sans-serif';
  --font-gilroy-medium: 'Gilroy-Medium', 'sans-serif'; */
  --color-primary: #D33D75;
  --color-border: #FF96BD;
}
#root {
  margin: 0;
  padding: 0;
}
body{
  background-color: white;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
